@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap');

* {
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.d-none {
    display: none !important;
}

:root {
    --theme-bg-color: #181818;
    --nav-bg-color: #202020;
    --theme-color: #f9fafb;
    --content-bg-color: #202020;
    --input-bg-color: #252525;
    --border-color: rgba(113 119 144 / 25%);
    --theme-second-color: #ddd;
    --search-bg: #3a3b3c;
    --just_text-reactions-bg: rgba(46, 48, 51, 0.302);
    --just_text-reactions-bg-hover: rgba(47, 48, 50, 0.973);
    --job-h4-color: #c4c4c4;
    --box-shadow-color: none;


    --inactive-color: #808081;
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
}

.light-mode {
    --theme-bg-color: #f2f2f2;
    --nav-bg-color: #ffff;
    --theme-color: #3c3a3a;
    --content-bg-color: #ffffff;
    --input-bg-color: #f0f0f0;
    --border-color: #f2f2f2;
    --theme-second-color: #333;
    --search-bg: #e5e5e5;
    --just_text-reactions-bg: #f6f6f6;
    --just_text-reactions-bg-hover: #f2f2f2;
    --job-h4-color: #676767;
    --box-shadow-color: 0px 0px 4px -2px #c4c4c4;


    --inactive-color: #333333;
    --button-inactive: #3c3a3a;
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --popup-bg: rgb(255 255 255);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --content-title-color: --theme-color;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--body-font);
    /* background-image: url(../images/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg); */
    background-size: cover;
    background-position: center;
    background-color: var(--theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-bg video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

img {
    max-width: 100%;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: var(--theme-bg-color);
}

.dark-light {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--dropdown-bg);
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
}

.dark-light svg {
    width: 24px;
    flex-shrink: 0;
    fill: #ffce45;
    stroke: #ffce45;
    transition: 0.5s;
}

.light-mode .dark-light svg {
    fill: transparent;
    stroke: var(--theme-color);
}

.light-mode .profile-img {
    border: 2px solid var(--theme-bg-color);
}

.light-mode .content-section ul {
    background-color: var(--theme-bg-color);
}

.light-mode .pop-up__title {
    border-color: var(--theme-color);
}

.light-mode .dropdown.is-active ul {
    background-color: rgba(255, 255, 255, 0.94);
}

.app {
    background-color: var(--theme-bg-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    white-space: nowrap;
    background-color: var(--nav-bg-color);
    justify-content: space-between;
    box-shadow: var(--box-shadow-color);
}

@media screen and (max-width: 480px) {
    .header {
        padding: 0 16px;
    }
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu a {
    padding: 20px 30px;
    text-decoration: none;
    color: var(--inactive-color);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

@media screen and (max-width: 610px) {
    .header-menu a:not(.main-header-link) {
        display: none;
    }
}

.header-menu a.is-active,
.header-menu a:hover {
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}

.notify {
    position: relative;
}

.notify:before {
    content: "";
    position: absolute;
    background-color: #3a6df0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    right: 20px;
    top: 16px;
}

@media screen and (max-width: 1055px) {
    .notify {
        display: none;
    }
}

.menu-circle {
    width: 15px;
    height: 15px;
    background-color: #f96057;
    border-radius: 50%;
    box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
    margin-right: 195px;
    flex-shrink: 0;
}

@media screen and (max-width: 945px) {
    .menu-circle {
        display: none;
    }
}

.search-bar {
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 400px;
    padding-left: 16px;
    border-radius: 4px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--input-bg-color);
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 40px;
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 48%;
    color: var(--theme-color);
}

.search-bar input::-moz-placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: 15px;
    font-weight: 500;
}

.search-bar input:-ms-input-placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: 15px;
    font-weight: 500;
}

.search-bar input::placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: 15px;
    font-weight: 500;
}

.header-profile {
    display: flex;
    align-items: center;
    padding: 0 16px 0 40px;
    flex-shrink: 0;
}

.header-profile svg {
    width: 22px;
    color: var(--theme-color);
    flex-shrink: 0;
}

.notification {
    position: relative;
}

.notification-number {
    position: absolute;
    background-color: #f75f52;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    right: -6px;
    top: -6px;
}

.notification+svg {
    margin-left: 22px;
}

@media screen and (max-width: 945px) {
    .notification+svg {
        display: none;
    }
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 2px solid var(--theme-color);
    margin-left: 22px;
}

.wide .header-menu,
.wide .header-profile {
    display: none;
}

.wide .search-bar {
    max-width: 600px;
    margin: auto;
    transition: 0.4s;
    box-shadow: 0 0 0 1px var(--border-color);
    padding-left: 0;
}

.wide .menu-circle {
    margin-right: 0;
}

.wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.left-side {
    flex-basis: 350px;
    border-right: 1px solid var(--border-color);
    padding: 26px;
    overflow: hidden;
    flex-shrink: 0;
}

.left_side_box .side-menu a {
    font-size: 16px;
    margin: 2px 0;
}

.left_side_box .side-menu a i {
    margin-inline-end: 8px;
}

.left-side:hover {
    overflow: auto;
    padding: 26px 20px 26px 26px;
}

.right-side {
    position: fixed;
    right: 10px;
    height: calc(100% - 63px);
    width: 365px;
    border-right: none;
    border-left: 1px solid var(--border-color);
    padding: 25px 20px 25px 25px;
}

.right-side:hover {
    padding: 25px 15px 25px 25px;
}

.right-side .side-wrapper {
    padding: 15px;
    background-color: var(--content-bg-color);
    box-shadow: var(--box-shadow-color);
    border-radius: 8px;
}

.right-side .side-menu p {
    margin: 0;
    line-height: 1.6;
}

.right-side .side-menu span {
    margin: 6px 0;
    font-weight: 200;
    font-size: 12px;
}

.right-side .side-menu a {
    flex-wrap: wrap;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
    color: var(--theme-second-color);
}

.right-side .side-menu a:last-child {
    border-bottom: none;
}

.right-side .side-title {
    color: #888686;
    font-weight: 600;
}

@media screen and (max-width: 945px) {
    .left-side {
        display: none;
    }
}

.side-wrapper+.side-wrapper {
    margin-top: 20px;
}

.side-title {
    color: var(--inactive-color);
    margin-bottom: 10px;
}

.side-menu {
    display: flex;
    flex-direction: column;
}

.side-menu a {
    text-decoration: none;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: var(--input-bg-color);
}

.side-menu svg {
    width: 16px;
    margin-right: 8px;
}

.updates {
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
    width: 18px;
    height: 18px;
    font-size: 11px;
}

.main-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 58px;
    flex-shrink: 0;
    display: none;
}

.main-header .header-menu {
    margin-left: 150px;
}

@media screen and (max-width: 1055px) {
    .main-header .header-menu {
        margin: auto;
    }
}

.main-header .header-menu a {
    padding: 20px 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.menu-link-main {
    text-decoration: none;
    color: var(--theme-color);
    padding: 0 30px;
}

.img-content {
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 0;
}

.img-content svg {
    width: 28px;
    margin-right: 14px;
}

.content-text {
    font-weight: 400;
    font-size: 14px;
    margin-top: 16px;
    line-height: 1.7em;
    color: #ebecec;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-wrapper-context {
    max-width: 350px;
}

.content-button {
    background-color: #3a6df0;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}

.content-wrapper-img {
    width: 186px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: -25px;
    -o-object-position: center;
    object-position: center;
}

.content-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.content-section-title {
    color: var(--content-title-color);
    margin-bottom: 14px;
}

.content-section ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    background-color: var(--content-bg);
    padding-left: 0;
    margin: 0;
    border-radius: 14px;
    border: 1px solid var(--theme-bg-color);
    cursor: pointer;
}

.content-section ul li {
    list-style: none;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: 0.3s;
}

.content-section ul li:hover {
    background-color: var(--theme-bg-color);
}

.content-section ul li:hover:first-child {
    border-radius: 13px 13px 0 0;
}

.content-section ul li:hover:last-child {
    border-radius: 0 0 13px 13px;
}

.content-section ul li+li {
    border-top: 1px solid var(--border-color);
}

.content-section ul svg {
    width: 28px;
    border-radius: 6px;
    margin-right: 16px;
    flex-shrink: 0;
}

.products {
    display: flex;
    align-items: center;
    width: 150px;
}

.content-wrapper {
    color: var(--theme-color);
    padding: 30px;
    height: 100%;
    overflow: auto;
}



/* **************post style ************** */
.center-padding {
    margin: 0 365px 0 0px;
    flex-grow: 1;
}

.job_box {
    background-color: var(--content-bg-color);
    box-shadow: var(--box-shadow-color);
    border-radius: 8px;
    padding: 30px 25px 35px;
    margin-bottom: 25px;
    position: fixed;
    width: calc(100% - 780px);
    z-index: 99;
    display: none;
}

.job_box .company_logo .job_logo {
    right: 30px;
    position: absolute;
    top: 20px;
    width: 70px;
    border-radius: 14px;
}

.job_box h1 {
    margin: 0;
    font-size: 28px;
    color: #4284e4;
    max-width: 80%;
}

.job_box h3 {
    font-size: 18px;
    margin: 30px 0 10px;
    border-left: 1px solid #4284e4;
    padding: 3px 7px;
}

.job_box h4 {
    font-size: 14px;
    margin: 5px 0px 0px;
    color: var(--job-h4-color);
}

.job_box h4 i {
    font-size: 13px;
    margin-right: 3px;
}

.job_box h4 span {
    color: rgb(139 139 139);
    margin-left: 5px;

}

.job_box ul li {
    margin-bottom: 2px;
}

.job_box ul li i {
    font-size: 13px;
    margin-right: 3px;
}

.job_box ul li svg {
    font-size: 13px;
    margin-right: 3px;
}

.job_box p {
    padding: 0 10px;
    line-height: 1.4;
}

.job_box .job_skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0px;
    padding: 0;
}

.job_box .job_skills li {
    color: var(--theme-color);
    padding: 5px 9px;
    border-radius: 9px;
    border-bottom: 1px solid #3d5ba8;
    font-size: 14px;
}

.job_details ul {
    display: flex;
    flex-wrap: wrap;
}

.job_details ul li {
    line-height: 1.6;
    font-size: 15px;
    padding-left: 5px;
    width: 50%;
}

.job_details ul li span {
    color: #9e9e9e;
}


.center-padding img {
    object-fit: cover;
}

.center-padding .what-do {
    background: var(--content-bg-color);
    box-shadow: var(--main-shadow);
    border-radius: 8px;
    padding: 15px 20px 10px;
    margin: 0 30px 20px;
    box-shadow: var(--box-shadow-color);
}

.center-padding .what-do .what-do-user-name, .post .what-do-user-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post .write_comment {
    display: none;
}

.post .what-do-user-name {
    padding: 10px 6px 10px;
    background: var(--content-bg-color);
}

.just_text .what-do-user-name {
    padding: 0px 6px 10px;
}

.center-padding .what-do .what-do-user-name img, .post .what-do-user-name img {
    width: 45px;
    height: 45px;
    border-radius: 20%;
}

.center-padding .what-do .what-do-user-name input, .post .what-do-user-name input {
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--input-bg-color);
    border: none;
    font-size: 15px;
    outline: none;
    transition: .5s;
    color: var(--theme-color);
}

.center-padding .what-do .what-do-user-name input:hover {
    background-color: var(--search-bg);
}

.center-padding .what-do hr {
    border: none;
    border-top: 1px solid var(--search-bg);
    margin: 12px 0;
}

.what-do-links {
    display: flex;
    gap: 3px;
    align-items: center;
}

.what-do-links>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.what-do-links>div img {
    width: 23px;
    height: 23px;
}

.what-do-links div:hover {
    background-color: var(--search-bg);
}


.post {
    box-shadow: var(--main-shadow);
    border-radius: 8px;
    padding: 0 30px 30px;
}

.post-userName {
    background: var(--content-bg-color);
    border-radius: 15px;
    position: relative;
}

.post-userName .post-userName1 {
    background: var(--theme-bg-color);
    margin-left: 72px;
}

.post-userName .post-userName1 .post-user-box {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 15px 10px 10px;
    background: var(--content-bg-color);
    border-radius: 10px 10px 0px 0px;
}

.post-userName .post-userName1 .profile_pic {
    position: absolute;
    left: 0px;
    top: 0;
    border-radius: 0px 0px 11px 0px;
    padding: 0px 6px 5px;
    background-color: var(--theme-bg-color);
}

.post-userName .post-userName1 img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.post-userName .post-userName1 div h2 {
    font-size: 17px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: sans-serif;
}

.post-userName .post-userName1 div h2 a {
    color: var(--theme-color);
}

.post-userName .post-userName1 div span {
    display: inline-block;
    font-size: 13px;
    color: #878787;
    margin-bottom: 5px;
}

.post-userName i {
    color: rgb(112, 112, 112);
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: .3s;
}

.post-userName i:hover {
    background-color: rgb(209, 209, 209);
}

.post .post_bg {
    background: var(--content-bg-color);
    border-radius: 10px 0px 0px 0px;
    overflow: hidden;
    position: relative;
}

.post .post-text p {
    font-weight: 500;
    margin: 0;
    padding: 15px 15px 10px;
    line-height: 1.3;
    font-size: 18px;
    font-family: "Tajawal";
}

.post-content {
    max-height: 95vh;
    overflow: hidden;
    min-height: 300px;
    position: relative;
}

.post-content .post_img_box .seemore_box {
    display: none;
}

.post-content .post_img_box .seemore {
    background-color: rgb(107 107 107 / 18%);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}

.post_bg:hover .post-content .post_img_box .seemore {
    opacity: 1;
}

.post-content .post_img_box .seemore p {
    text-shadow: 1px 1px 0px #000;
    font-size: 22px;
    color: #f9fafb;
}

.post .post-content img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
    max-height: 100vh;
    min-height: 300px;
    cursor: pointer;
}

.post .post-content .reactions_num {
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: .5s;

}

.post .post-content .reactions_num.reactions_show_fast {
    transition: 0s;
}

.post .post-content .reactions_num.reactions_show {
    opacity: 1;
    right: 0;
    transform: translateY(calc(-50% - 25px));
}

.post .post_bg:hover .reactions_num {
    opacity: 1;
    right: 0;
}

.post .post-content .reactions_num .reactions_box {
    font-size: 14px;
    padding: 8px 7px;
    background: #2f303263;
    margin: 4px 4px;
    border-radius: 5px;
    text-align: right;
}

.post .post-content .reactions_num .reactions_show_btn {
    cursor: pointer;
    text-align: center;
    position: relative;
    right: -100px;
    transition: 1s;
}


.post .post_bg:hover .reactions_num .reactions_show_btn {
    right: 0px;
    transition: 0s;
}

.post .post-content .reactions_num.reactions_show .reactions_show_btn {
    transition: .4s;

}

.post .post-content .reactions_num .reactions_show_btn svg {
    transform: rotate(-90deg);
    transition: .4s;
}

.post .post-content .reactions_num.reactions_show .reactions_show_btn svg {
    transform: rotate(0deg);

}

.post .post-content .reactions_num .heart-button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.post .post-content .reactions_num .heart-button span {
    transform: translateX(0px);
    position: absolute;
    left: 16px;
}

.post .post-content .reactions_num .heart-button .heart_box {
    transform: translate(-3px, -2px);
}

.post .post-content .reactions_num .heart-button .heart-flip {
    --base: 10px;
    margin-top: 2px;
}

.post .post-content .reactions_num .reactions_box span {
    padding: 0 5px;
    color: #f9fafb;
}

.post .post-content .reactions_num .reactions_box i {
    color: #f9fafb;
}

.post-statistics {
    padding: 10px 15px;
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    display: none;
}

.post-statistics div {
    display: flex;
    gap: 5px;
}

.post-statistics div .fa-heart, .post-statistics div .fa-comment-alt {
    transform: translateY(3px);
}

.post-statistics div span {
    padding: 2px 0;
    font-size: 14px;
}

.comment-stat {
    color: rgb(97, 97, 97);
    text-transform: capitalize;
    cursor: pointer;
}

.comment-stat:hover {
    text-decoration: underline;
}

.reactions {
    display: flex;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    bottom: -25px;
    padding: 8px 3px;
    transition: .4s;
}

.post .post_bg:hover .reactions {
    opacity: 1;
    bottom: 0;
}

.reactions .reactions_box {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
    justify-content: center;
    cursor: pointer;

    margin: 0px 3px;
    transition: .5s;
    background: #2f3032b0;
    border-color: #2f3032b0;
    box-shadow: 0 0 11px -4px #000;
    border-radius: 5px;
}

.reactions .reactions_box:hover {
    background: #2f3032;
}

.reactions .reactions_box i {
    color: #f9fafb;
}

.reactions .reactions_box span {
    color: #f9fafb;
}

.reactions .reactions_box span span {
    text-transform: none
}

.reactions .heart-button {
    align-items: flex-start;
}

.post.just_text .post-content {
    display: none;
}

.post.just_text .post-statistics {
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.post.just_text .reactions {
    position: relative;
    bottom: 0;
    opacity: 1;
    padding: 8px 3px;
    transition: 0s;
}

.post.just_text .reactions.reaction_pading {
    padding: 15px 3px;
}

.post.just_text .reactions .reactions_box {
    box-shadow: none;
    background: var(--just_text-reactions-bg);
    border: none;
}

.post.just_text .reactions .reactions_box.active span {
    color: #f9fafb;
}

.post.just_text .reactions .reactions_box:hover {
    background: var(--just_text-reactions-bg-hover);
}

.post.just_text .reactions .reactions_box span,
.post.just_text .reactions .reactions_box i {
    color: var(--theme-color);
}

.post .comments {
    display: none;
}

.post .comments .comment_box {
    display: none;
}

.post .comments .comment_box .comment {
    padding: 5px 15px 0px;
    display: flex;
    gap: 10px;
    background: var(--content-bg-color);
}

.post .comments .comment_box:last-child .comment {
    padding: 5px 15px 10px;
}

.post .comments .comment_profile_pic {
    width: 45px;
    height: 45px;
    border-radius: 20%;
    margin-top: 5px;
}

.post .comments .coment_box {
    padding: 10px;
    background: var(--input-bg-color);
    border-radius: 8px;
}

.post .comments .coment_box .user_name {
    margin: 0 0 5px;
    font-weight: 600;
}

.post .comments .coment_box .user_name a {
    color: var(--theme-color);
}

.post .comments .coment_box .coment {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
    color: var(--theme-color);
    padding: 0 5px;
    font-weight: 400;
    font-family: "Tajawal";

}

.post .comments .comment_reply {
    padding-inline-end: 8%;
}

.post .comments .reply_box {
    padding: 0 5px;
}

.post .comments .reply_box button {
    background: transparent;
    border: none;
    color: var(--theme-second-color);
    font-family: "Tajawal";
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 5px;
    transition: .4s color;
}

.post .comments .reply_box span {
    color: var(--theme-second-color);
    font-weight: 500;
    font-size: 12px;
}

.post .comments .reply_box .loved {
    color: #ff5b88;
}

.post .comments .reply_box button i {
    font-size: 13px;
}

.post .comments .reply_box .reply .write_reply {
    display: none;
}

.post .comments .reply_box .reply .write_reply .what-do-user-name {
    padding: 2px 0px 10px;
}

.post .comments .reply_box .reply .write_reply .what-do-user-name input {
    padding: 9px;
    font-size: 14px;
}

.post .comments .reply_box .reply .write_reply .what-do-user-name img {
    width: 35px;
    height: 35px;
}

.post .comments .reply_box .reply .comments .comment_box .comment {
    padding: 3px 0px 0px;
}

.post .comments .reply_box .reply .comments .comment_box:last-child .comment {
    padding: 3px 0px 5px;
}

.post .comments .reply_box .reply .comments .comment_profile_pic {
    width: 35px;
    height: 35px;
}

.post .comments .reply_box .reply .comments .comment_reply {
    padding-inline-end: 3%;
}

.post .comments .reply_box .reply .show_more_replys {
    font-size: 13px;
    padding: 4px 50px 10px;
    color: var(--theme-second-color);
    cursor: pointer;
    display: none;
}

.post .show_more_comments {
    border-radius: 0px 0px 8px 8px;
    background: var(--content-bg-color);
    padding: 5px 15px 15px;
    color: var(--theme-second-color);
    cursor: pointer;
    display: none;
}

.post .post_bg .post-content .post_img_box {
    position: relative;
}

.post .post_bg .post-content .img_flex {
    display: grid;
    height: 80vh;
    gap: 7px;
}

.post .post_bg .post-content .img_flex .post_img {
    min-height: auto;
}

.post .post_bg .post-content .img_flex2_width {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}


.post .post_bg .post-content .img_flex2_height {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
}

.post .post_bg .post-content .img_flex2_width .post_img:first-child {
    grid-row: 1 / 2;
    grid-column-start: 1;
}

.post .post_bg .post-content .img_flex2_height .post_img:first-child {
    grid-column: 1 / 2;
    grid-row-start: 1;
}

.post .post_bg .post-content .img_flex3_width,
.post .post_bg .post-content .img_flex3_height {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.post .post_bg .post-content .img_flex3_width .post_img:first-child {
    grid-row: 1 / 3;
    grid-column-start: 1;
}

.post .post_bg .post-content .img_flex3_height .post_img:first-child {
    grid-column: 1 / 3;
    grid-row-start: 1;
}

.post .post_bg .post-content .img_flex4_width {
    grid-template-rows: 34% 33% 33%;
    grid-template-columns: 50% 50%;
}

.post .post_bg .post-content .img_flex4_height {
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: 50% 50%;
}

.post .post_bg .post-content .img_flex4_width .post_img:first-child {
    grid-row: 1 / 4;
    grid-column-start: 1;
}

.post .post_bg .post-content .img_flex4_height .post_img:first-child {
    grid-column: 1 / 4;
    grid-row-start: 1;
}

.post .post_bg .post-content .img_flex5_width {
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-columns: 50% 50%;
}


.post .post_bg .post-content .img_flex5_width .post_img:first-child {
    grid-row: 1 / 4;
    grid-column-start: 1;
}

.post .post_bg .post-content .img_flex5_width .post_img:nth-child(2) {
    grid-row: 4 / 7;
    grid-column-start: 1;
}

.post .post_bg .post-content .img_flex5_width .post_img:nth-child(3) {
    grid-row: 1 / 3;
}

.post .post_bg .post-content .img_flex5_width .post_img:nth-child(4) {
    grid-row: 3 / 5;
}

.post .post_bg .post-content .img_flex5_width .post_img:nth-child(5) {
    grid-row: 5 / 7;
}

.zoom_in_box img {
    width: auto !important;
    height: auto !important;
    display: none;
}

.pswp__img {
    display: block;
}

.plyr {
    margin: auto;
}



.plyr__controls {
    opacity: 0;
}

.plyr:hover .plyr__controls {
    opacity: 1;
}

.heart-button {
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

}

.heart-button .heart-flip {
    --base: 32px;
    --duration: .6s;
    --active: #ea4673;
    --inactive: #d1d6ee;
    width: var(--base);
    height: calc(var(--base) + var(--base) / 2);
    border-radius: calc(var(--base) / 2) calc(var(--base) / 2) 0 0;
    position: relative;
    transform-origin: 50% 66.66%;
    transform-style: preserve-3d;
    transform: rotate(var(--rotate, -45deg));
    transition: background var(--duration), transform var(--duration) ease;
    background: var(--heart-background, var(--inactive));
}

.heart-button .heart-flip:before,
.heart-button .heart-flip:after {
    content: "";
    width: calc(var(--base) / 2);
    height: var(--base);
    border-radius: var(--pseudo-border-radius, calc(var(--base) / 2) 0 0 calc(var(--base) / 2));
    position: absolute;
    left: var(--pseudo-left, -50%);
    transform-origin: var(--pseudo-origin, 100%) 50%;
    bottom: 0;
    background: var(--heart-background, var(--inactive));
    filter: brightness(var(--pseudo-filter, 50%));
    transform: translateX(5%) rotateY(var(--pseudo-rotate, 90deg)) translateZ(0);
    transition: background var(--duration), transform var(--duration) ease, filter var(--duration);
}

.heart-button .heart-flip:after {
    --pseudo-border-radius: 0 calc(var(--base) / 2) calc(var(--base) / 2) 0;
    --pseudo-left: 100%;
    --pseudo-origin: 0;
    filter: brightness(var(--pseudo-filter-second, 100%));
    transform: translateX(-5%) rotateY(var(--pseudo-rotate-second, 0deg)) translateZ(0);
}

.heart-button.active .heart-flip {
    --rotate: 45deg;
    --pseudo-filter: 100%;
    --pseudo-filter-second: 50%;
    --pseudo-rotate: 0deg;
    --pseudo-rotate-second: 90deg;
    --heart-background: var(--active);
}

.heart-button {
    --duration: .4s;
    --color: #404660;
    --color-hover: #2b3044;
    --color-active: #fff;
    --border: #d1d6ee;
    --border-hover: #bbc1e1;
    --border-active: #ea4673;
    --background: #2f3032b0;
    --background-active: #ea4673;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 7px;
    color: var(--button-color, var(--color));
    border: 1px solid var(--button-border, var(--border));
    transform: scale(var(--button-scale, 1)) translateZ(0);
    transition: background var(--duration), border-color var(--duration), color var(--duration), transform 0.2s;
}

.heart-button .heart-flip {
    --base: 13px;
    --active: #fff;
    --inactive: #bbc1e1;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.heart-button span {
    display: inline-block;
    vertical-align: top;
}

.heart-button>span {
    transform: translateX(var(--text-x, 4px));
    transition: transform var(--duration);
}

.heart-button>span span {
    display: inline-block;
    vertical-align: top;
    opacity: var(--span-opacity, 0);
    transform: translateX(var(--span-x, 4px));
    transition: opacity var(--duration), transform var(--duration);
}

.heart-button:active {
    --button-scale: .95;
}

.heart-button:hover {
    --button-color: var(--color-hover);
    --button-border: var(--border-hover);
}

.heart-button.active {
    --text-x: 0;
    --button-color: var(--color-active);
    --button-border: var(--border-active);
    --button-background: var(--background-active);
    --span-opacity: 1;
    --span-x: 0;
    gap: 8px;
    background: var(--button-background, var(--background)) !important;
}

@media screen and (max-width: 1350px) {
    .left-side {
        flex-basis: 250px;
    }

    .content-wrapper {
        padding: 20px;
    }

    .right-side {
        width: 300px;
        padding: 15px 10px 15px 15px;
    }

    .right-side:hover {
        padding: 15px 5px 15px 15px;
    }

    .center-padding {
        margin: 0 300px 0 0px;
    }

    .job_box {
        width: calc(100% - 600px);
    }

    .post {
        padding: 0 0 30px;
    }

    .center-padding .what-do {
        margin: 0 0px 20px;
    }
}

@media screen and (max-width: 1110px) {
    .right-side {
        display: none;
    }

    .center-padding {
        margin: 0 30px;
    }
}


@media screen and (max-width: 765px) {

    .content-wrapper {
        padding: 15px 0;
    }

    .center-padding {
        margin: 0 15px;
    }

    .post, .center-padding .what-do {
        border-radius: 0px;
    }
}


@media screen and (max-width: 565px) {
    .center-padding {
        margin: 0;
    }

    ::-webkit-scrollbar {
        width: 0px !important;
    }

    .post .reactions {
        padding: 8px 3px;
        bottom: 0;
        opacity: 1;
        position: relative;
        transition: 0s;
    }

    .post.just_text .reactions {
        padding: 8px 3px;
    }

    .post .reactions.reaction_pading {
        padding: 15px 3px;
    }

    .post .post_bg {
        border-radius: 0px;
    }

    .post .post-content .reactions_num {
        display: none;
    }

    .reactions .reactions_box {
        box-shadow: none;
        background: rgba(47, 48, 50, 0.302);
    }

    .post-statistics {
        display: flex;
        border-bottom: 1px solid var(--border-color);
    }

    .post .post-text p {
        padding: 10px 15px 10px;
    }

    .post .what-do-user-name {
        padding: 0px 6px 10px;
    }

    .post .post_bg .post-content .img_flex {
        max-height: 70vh;
        height: auto;
    }

    .post .comments .reply_box .reply .comments .comment_reply {
        padding-inline-end: 0;
    }

    .post .comments .reply_box .reply .comments .comment_reply .coment_box .coment {
        padding: 0;
    }

    .post .comments .comment_box .comment {
        padding: 5px 0px 0px 8px;
    }

    .post .comments .comment_box:last-child .comment {
        padding: 5px 0px 10px 8px;
    }

    .post .comments .reply_box {
        padding: 0px;
    }

    .post .comments .reply_box .reply_reactions {
        padding: 0 5px;
    }

    .post .comments .reply_box .reply .comments {
        padding: 0px;
    }

    .post-userName .post-userName1 {
        margin-left: 66px;
    }

    .post-userName .post-userName1 .post-user-box {
        padding: 10px 15px 9px 10px;
    }

    .post-userName .post-userName1 .profile_pic {
        padding: 2px 11px 5px 5px;
    }

    .post-userName .post-userName1 img {
        width: 50px;
        height: 50px;
    }

    .center-padding .what-do .what-do-user-name img, .post .what-do-user-name img {
        width: 40px;
        height: 40px;
    }

    .post .comments .comment_profile_pic {
        width: 40px;
        height: 40px;
        margin-top: 3px;
    }

    .post .comments .comment_reply {
        padding-inline-end: 4%;
    }

    .post .comments .reply_box .reply .what-do-user-name {
        padding: 5px 0px 10px;
    }
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.content-wrapper::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}