/*  ******** form style ******** */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

@media (max-width: 790px) {
  .loginpage .container {
    width: 85vw !important;
    min-height: 530px !important;
  }

  .loginpage .overlay, .loginpage .overlay-container {
    display: none !important;
  }

  .loginpage .sign-in-container {
    width: 100% !important;
  }

  .loginpage .container.right-panel-active .sign-up-container {
    transform: translateX(0%) !important;
  }

  .loginpage .container.right-panel-active .more_info_hide {
    transform: translateX(-100%) !important;
  }

  .loginpage .sign-up-container {
    width: 100% !important;
  }

  .loginpage .signbutton {
    display: block !important;
  }

  .canvas_box {
    display: none !important;
  }

  .loginpage .sign-in-container {
    z-index: 5 !important;
  }
}

@media (max-width: 450px) {
  body {
    margin: -5px 0 30px !important;
  }

  .loginpage .container {
    width: 90vw !important;
    min-height: 560px !important;
  }

  .back_small_box {
    flex-direction: column;
    padding: 0 5vw;

  }


}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 30px;
}

.loginpage h1 {
  font-weight: bold;
  margin: 0;
  font-size: 2em;
}

.loginpage h2 {
  text-align: center;
}

.loginpage p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.loginpage span {
  font-size: 12px;
}

.loginpage a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.loginpage .info_btn {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 300ms ease-in;
  line-height: normal;
}

.loginpage .info_btn:hover {
  background-color: #fff;
  color: #ff4b2b;
}

.loginpage .info_btn:active {
  transform: scale(0.95);
}

.loginpage .info_btn:focus {
  outline: none;
}

.loginpage select:focus {
  box-shadow: none;
}

.loginpage .info_btn.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.loginpage form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.loginpage input, .loginpage select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  line-height: normal;
  font-size: 14px;
}

.loginpage .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 785px;
  max-width: 100%;
  min-height: 500px;
}

.loginpage .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.loginpage .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.loginpage .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.loginpage .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.loginpage .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.loginpage .container.right-panel-active .more_info_hide {
  transform: translateX(0%);
}

.loginpage .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.loginpage .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.loginpage .overlay {
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.loginpage .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.loginpage .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.loginpage .overlay-left {
  transform: translateX(-20%);
}

.loginpage .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.loginpage .overlay-right {
  right: 0;
  transform: translateX(0);
}

.loginpage .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.loginpage .social-container {
  margin: 20px 0;
  display: flex;
  z-index: 9;
  background: #fff;
}

.loginpage .social-container .social:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px -3px #000;
}

.loginpage .social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  transition: .5s;
}

.loginpage .social-container .facebook:hover {
  background-color: #4267b2;
  color: #fff;
}

.loginpage .social-container .google img {
  filter: brightness(0);
  width: 14px;
  transition: .5s;
}

.loginpage .social-container .google:hover img {
  filter: brightness(1);
}

.loginpage .social-container .twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.loginpage .signbutton {
  margin-top: 20px;
  display: none;
}


@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}


/* Button Styles */
a.animated-button:link,
a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button:link:after,
a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  height: 450%;
}

a.animated-button.victoria-two {
  border: 2px solid #D24D57;
}

a.animated-button.victoria-two:after {
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.animated-button.sign_up {
  border-color: #FFFFFF;
  border-radius: 20px;
  font-size: 12px;
  padding: 12px 45px;
  line-height: normal;
  border-width: 1px;
  box-shadow: none;
  margin: 0;
}

a.animated-button.sign_up:hover {
  color: #ff4550;
  border-color: #ff4550 !important;
}

a.animated-button.sign_up:after {
  background-color: #fff;
}

.canvas_box {
  z-index: 6;
  position: relative;
  right: 5px;
}

.canvas_box_move {
  right: -385px;

}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}